.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000; /* Azul escuro estilo anime */
  color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #e94560; /* Detalhe em rosa/vermelho */
}

/* .konohaLogo {
  height: 50px;
  

} */

.logo {
  font-size: 2.0rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e94560;
  
}
.logo::first-letter {
  font-size: 45px;
  margin: 0;
  padding: 0;
}
.letterA {
  font-size: 45px;
}

.nav {
  display: flex;
  
  margin-left: auto;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: #e94560;
}